# Auto detect text files and perform LF normalization
* text=auto

# Ensure consistent line endings for these file types
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.cjs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf